<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title></title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="" />
  </head>
  <body>
    <div
      id="g_id_onload"
      data-client_id="870779871721-7t2n4jbls2sft5349bq9iq0lddqp8ouo.apps.googleusercontent.com"
      data-context="signin"
      data-ux_mode="popup"
      data-callback="function login() { alert('logged in'); }"
      data-nonce=""
      data-auto_prompt="false"
    ></div>

    <div
      class="g_id_signin"
      data-type="standard"
      data-shape="rectangular"
      data-theme="outline"
      data-text="signin_with"
      data-size="large"
      data-logo_alignment="left"
    ></div>
    <script src="https://accounts.google.com/gsi/client" async defer></script>
  </body>
</html>
